/* LosForm.css */
.form-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: #f5f5f5;
 }
 
 .los-form {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   max-width: fit-content;
   max-height: fit-content;
   margin: 0 auto;
   padding: 20px;
   width: 100%;
 }
 
 .los-form h2 {
   font-size: 24px;
   font-weight: bold;
   color: #333;
   margin-bottom: 20px;
 }
 
 .los-form h3 {
   font-size: 18px;
   color: #555;
   margin-bottom: 15px;
 }
 
 .input-group {
   flex: 1;
   margin-right: 20px;
   margin-bottom: 20px;
 }
 
 .input-group label {
   display: block;
   font-size: 14px;
   color: #666;
   margin-bottom: 5px;
 }
 
 .input-group input {
   width: 100%;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
   font-size: 14px;
 }
 
 .checkbox-group {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   margin-bottom: 20px;
 }
 
 .checkbox-container {
   display: flex;
   align-items: center;
 }
 
 .checkbox-container input[type="checkbox"] {
   margin-right: 10px;
 }
 
 .los-form button {
   background-color: #3456FF;
   border: none;
   border-radius: 4px;
   color: #fff;
   cursor: pointer;
   font-size: 16px;
   padding: 12px;
   width: 100%;
   transition: background-color 0.3s ease;
 }
 
 .los-form button:hover {
   background-color: #2440ca;
 }
 
 .los-form button:disabled {
   background-color: lightgray;
 }
 
 .result-container button {
   margin-top: 10px;
   background-color: #f44336;
   border: none;
   border-radius: 4px;
   color: #fff;
   cursor: pointer;
   font-size: 16px;
   padding: 12px;
   width: 100%;
   transition: background-color 0.3s ease;
 }
 
 .result-container button:hover {
   background-color: #d32f2f;
 }
 