/* HomePage.css */

/* Content styles */
.content {
  flex-grow: 1; /* Take up all available space */
  overflow-y: auto; /* Allows scrolling */
  padding: 20px;
  background: linear-gradient(to left, #a9ac8e, #ffffff); /* Apply gradient finish directly to the background */
  width: calc(100% - 200px); /* Calculate width based on available space after deducting the width of the SidePanel */
}



/*background-image: url('../../assets/images/hmsbg.jpg'); /* Set background image */


/* Hospital info styles */
.hospital-info {
  font-family: 'Roboto', sans-serif; /* Set font family to Roboto */
  color: #333; /* Text color */
  padding: 20px;
  text-align: justify; /* Align text to justify */
}

.hospital-info h2 {
  color: #005a9c; /* Heading color */
  font-size: 28px; /* Larger font size for headings */
  margin-bottom: 20px; /* Add spacing below heading */
}

.hospital-info p {
  margin-bottom: 15px; /* Add spacing below paragraphs */
  line-height: 1.6; /* Increase line height for better readability */
  font-size: 18px; /* Larger font size for paragraphs */
}

.hospital-info ul {
  padding-left: 20px; /* Indent list items */
  margin-bottom: 15px; /* Add spacing below lists */
}

.hospital-info ul li {
  margin-bottom: 5px; /* Add spacing between list items */
}

.hospital-info strong {
  font-weight: bold; /* Make strong text bold */
  color: #214140; /* Change color of strong text */
}
